.popup {
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
}

