.photo__btn {
  background-color: #fff;
  border: none;
  background-image: url('./../../../images/heart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 23px;
  height: 19px;
  cursor: pointer;
}

.photo__btn:hover {
  opacity: 50%;
}

.photo__btn:active {
  opacity: 1;
  background-image: url('./../../../images/active_heart.svg');
}
