.popup__input {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    border: none;
    margin-top: 47px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 767px) {
    .popup__input  {
      margin-top: 52px;
    }
  }
