.page {
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page__container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 60px;
  box-sizing: border-box;
}

.header__logo {
  max-width: 100%;
}

.header__line {
  margin: 0;
  margin-top: 36px;
  opacity: 0.3;
  background-color: rgba(84, 84, 84, 1);
}

.profile {
  padding-top: 38px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
}

.profile__container {
  display: flex;
}

.profile__image {
  max-width: 120px;
  border-radius: 100px;
}

.profile__user-info {
  align-self: center;
  margin-left: 30px;
}

.profile__name {
  margin: 0;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
}

.profile__subtitle {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 0.2;
  font-weight: 400;
}

.profile__btn-edit {
  max-height: 24px;
  margin-left: 18px;
  margin-top: 39px;
  background-color: black;
  border: 1px solid white;
}

.profile__btn-edit:hover {
  opacity: 60%;
}

.profile__btn-add {
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: black;
  border: 3px solid white;
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
  line-height: 0.2;
}

.profile__btn-add:hover {
  opacity: 60%;
}

.photo {
  margin-top: 50px;
}

.photo__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo__list:first-of-type {
  margin-bottom: 20px;
}

.photo__item {
  max-width: 282px;
}

.photo__block-image {
  margin: 0;
  background-color: #fff;
  border-radius: 3%;
  overflow: hidden;
}

.photo__img {
  max-width: 100%;
}

.photo__caption {
  min-height: 75px;
  display: flex;
  align-items: center;
  padding: 0 7.5%;
  justify-content: space-between;
}

.photo__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
}

.photo__btn {
  background-color: #fff;
  border: none;
  background-image: url('./images/heart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 22px;
  height: 19px;
}

.photo__btn:hover {
  opacity: 50%;
}

.photo__btn:active {
  opacity: 1;
  background-image: url('./images/active_heart.svg');
}

.photo__name_long {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  margin-top: 67px;
}

.footer__copyright {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(84, 84, 84, 1);
}

.popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;

}

.popup_opened {
  display: block;
}

.popup__container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -215px;
  margin-top: -165px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  padding: 0 36px;
  box-sizing: border-box;

}

.popup__description {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  padding-top: 34px;
}

.popup__name {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  width: 100%;
  border: none;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__about-user {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  width: 100%;
  border: none;
  margin-top: 29px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__btn-save {
  display: block;
  width: 100%;
  border: none;
  margin-top: 49px;
  background-color: rgba(0, 0, 0, 1);
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
}

.popup__btn-save:hover {
  opacity: 80%;
}

.popup__close {
  position: absolute;
  left: 100%;
  bottom: 100%;
}

.popup__close-icon:hover {
  opacity: 60%;
}
