.popup__description {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  padding-top: 34px;
}

@media (max-width: 767px) {
  .popup__description  {
    font-size: 18px;
    padding-top: 25px;
  }
}
