.profile__subtitle {
  margin: 0;
  margin-top: 7px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__subtitle {
    font-size: 14px;
    padding: 0px 18px;
  }
}
