.popup__form {
  display: flex;
  flex-direction: column;
  width: 429px;
  max-width: 100%;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  padding: 0 36px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .popup__form {
    padding: 0 19px;
  }
}
