.popup__close {
  position: absolute;
  left: 100%;
  bottom: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__close {
    margin: 0;
    left: 91%;
    bottom: 102%;
  }
}
