.profile__btn-add {
  padding: 0 59px;
  align-self: center;
  background-color: transparent;
  border: 2px solid white;
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1;
 }

 .profile__btn-add:hover {
  opacity: 60%;
}

@media (max-width: 767px) {
  .profile__btn-add {
    min-width: 282px;
    font-size: 35px;
    line-height: 1;
    margin-top: 30px;
    padding: 6px 59px;
  }
}
