.profile__btn-add {
  background-color: transparent;
  background-image: url("./../../../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  border: 2px solid white;
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  cursor: pointer;
  margin: 36px 0;
  padding: 22px 73px;
}

.profile__btn-add:hover {
  opacity: 60%;
}

@media (max-width: 767px) {
  .profile__btn-add {
    background-size: 16px 16px;
    margin: 34px auto 0;
    padding: 22px 139px;
  }
}
