.profile__user-info {
  max-width: 294px;
  align-self: center;
  margin: 0 20px 0 30px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__user-info {
    max-width: 200px;
    margin: 28px 0 0 23px;
  }
}
