@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/page/__container/page__container.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__line/header__line.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__container/profile__container.css');
@import url('../blocks/profile/__image/profile__image.css');
@import url('../blocks/profile/__data-container/profile__data-container.css');
@import url('../blocks/profile/__user-info/profile__user-info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__subtitle/profile__subtitle.css');
@import url('../blocks/profile/__btn-edit/profile__btn-edit.css');
@import url('../blocks/profile/__btn-add/profile__btn-add.css');
@import url('../blocks/photo/photo.css');
@import url('../blocks/photo/__list/photo__list.css');
@import url('../blocks/photo/__item/photo__item.css');
@import url('../blocks/photo/__block-image/photo__block-image.css');
@import url('../blocks/photo/__img/photo__img.css');
@import url('../blocks/photo/__caption/photo__caption.css');
@import url('../blocks/photo/__name/photo__name.css');
@import url('../blocks/photo/__name/_long/photo__name_long.css');
@import url('../blocks/photo/__btn/photo__btn.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__btn-save/popup__btn-save.css');
@import url('../blocks/popup/__close/popup__close.css');
@import url('../blocks/popup/__close-icon/popup__close-icon.css');
