.photo__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo__list:first-of-type {
  margin-bottom: 20px;
}
