.photo__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .photo__list {
    justify-content: center;
  }
}


@media (max-width: 767px) {
  .photo__list {
    justify-content: center;
  }
}
