.profile__btn-edit {
  margin: 0 0 25px 0;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  background-image: url("./../../../images/btn-edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 24px;
  height: 24px;
}

.profile__btn-edit:hover {
  opacity: 60%;
}

@media (max-width: 767px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
