.profile__data-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 767px) {
  .profile__data-container {
    text-align: center;
    flex-grow: 0;
    justify-content: center;
  }
}
