.popup__btn-save {
  display: block;
  width: 100%;
  border: none;
  margin-top: 49px;
  background-color: rgba(0, 0, 0, 1);
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
}

.popup__btn-save:hover {
  opacity: 80%;
}

@media (max-width: 767px) {
  .popup__btn-save {
    margin-top: 47px;
    min-height: 46px;
    font-size: 14px;
  }
}
