.photo__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5% 7% 9% 7.5%;
}

@media (max-width: 767px) {
  .photo__caption {
    padding-top: 7.2%;
  }
}
